#!/bin/zsh
#
# Aliases 

# Shortcuts 
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd $(getent passwd "${USER}" 2>/dev/null | cut -d: -f6)"

# Functionality 
alias doas="doas "
