#!/bin/zsh
#
# Aliases 

# Shortcuts 
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"

# Functionality 
alias doas='doas ' 

# Proton Executable for Windows apps
alias protonexec="$HOME/.local/share/Steam/steamapps/common/Proton\ -\ Experimental/files/bin/wine"
