#include ".colorschemes/onedark"

! Cursor 
Xcursor.size: 16

! Special
*.background: 		basebg
*.foreground: 		basefg

! Black
*.color0: 		base00
*.color8: 		base08

! Red
*.color1: 		base01
*.color9: 		base09

! Green
*.color2: 		base02
*.color10: 		base0A

! Yellow
*.color3: 		base03
*.color11: 		base0B

! Blue
*.color4: 		base04
*.color12: 		base0C

! Magenta
*.color5: 		base05
*.color13: 		base0D

! Cyan
*.color6: 		base06
*.color14: 		base0E

! White
*.color7: 		base07
*.color15: 		base0F
